@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    scroll-behavior: smooth;
}

img {
    height: 100%;
    width: 100%;
}

.cabecalho-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    font-size: 15px;
    font-weight: 600;
}

.cabecalho-logo-imagem {
    display: flex;
    align-items: center;
    height: 110px;
    width: 170px;
}

.cabecalho-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 14px;
    height: 40px;
}

.cabecalho-menu a {
    text-decoration: none;
    color: rgba(50, 70, 50);
}

.cabecalho-menu ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 35px;
}

.cabecalho-menu a:hover {
    color: #096c47;
    cursor: pointer;
}

.conteudo {
    background-image: url('img/apresentacao.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 350px;
    padding: 130px;
}

.conteudo-apresentacao h1 {
    width: 700px;
    margin-bottom: 40px;
    font-size: 70px;
}

.conteudo-apresentacao h1:hover {
    color: #096c47;
    cursor: pointer;
}

.conteudo-apresentacao p {
    width: 700px;
    margin-bottom: 20px;
    font-weight: 300;
}

.conteudo-botoes {
    display: flex;
    justify-content: space-between;
    width: 330px;
}

.botao-verde,
.botao-transparente {
    font-family: "Merriweather", serif;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
    height: 40px;
}

.botao-verde {
    background-color: #096c47;
    border: none;
    width: 170px;
}

.botao-transparente {
    background-color: transparent;
    border: 1px solid white;
    width: 120px;
}

.botao-verde:hover,
.botao-transparente:hover {
    background-color: white;
    cursor: pointer;
}

.botao-verde:hover {
    color: #096c47;
}

.botao-transparente:hover {
    color: darkgrey;
}

.rodape {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
    font-size: 10px;
}

footer a {
    color: white;
}

.screen-right {
    color: white;
    background-color: rgb(10, 10, 20);
}

.screen-right, .screen-left {
    display: flex;
    height: 500px;
}

.screen-right-txt, .screen-left-txt {
    width: 60%;
    padding: 80px 80px 60px 80px;
}

.screen-right-txt-title, .screen-left-txt-title {
    font-size: 45px;
}

.screen-right-txt-paragraph, .screen-left-txt-paragraph {
    margin-top: 40px;
    font-weight: 400;
}

.screen-right-img, .screen-left-img {
    padding: 80px;
    width: 40%;
}

.screen-right-img-photo, .screen-left-img-photo {
    height: 300px;
    padding-bottom: 15px;
}

.screen-right-img-description, .screen-left-img-description {
    height: 3px;
    font-size: 11px;
    font-weight: 600;
}


@media (max-width: 920px) {

    .cabecalho-logo {
        height: 110px;
        font-size: 10px;
    }

    .cabecalho-logo-imagem {
        height: 80px;
        width: 130px;
    }

    .cabecalho-menu {
        flex-direction: column; 
        padding-bottom: 8px;
    }

    .cabecalho-menu ul {
        font-size: 8px;
        flex-wrap: wrap; 
        justify-content: center;
        gap: 20px;
    }

    .conteudo {
        padding: 75px 30px;
    }

    .conteudo-apresentacao-titulo h1 {
        width: 100%;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .conteudo-apresentacao p {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    .conteudo-botoes {
        justify-content: center;
        align-items: center;
        gap: 25px;
        width: 100%;
    }

    .footer {
        font-size: 1px;
    }

    .screen-right, .screen-left {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding-top: 40px;
    }
    
    .screen-right-txt, .screen-left-txt {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    
    .screen-right-txt-title, .screen-left-txt-title {
        font-size: 40px;
    }
    
    .screen-right-txt-paragraph, .screen-left-txt-paragraph {
        width: 75%;
        font-size: 13px;
    }
    
    .screen-right-img, .screen-left-img {
        padding: 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .screen-right-img-photo, .screen-left-img-photo {
        padding-bottom: 8px;
    }
    
    .screen-right-img-description, .screen-left-img-description {
        font-size: 8px;
    }
    
}