@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    scroll-behavior: smooth;
}

img {
    height: 100%;
    width: 100%;
}

.cabecalho-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    font-size: 15px;
    font-weight: 600;
}

.cabecalho-logo-imagem {
    display: flex;
    align-items: center;
    height: 110px;
    width: 170px;
}

.cabecalho-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 14px;
    height: 40px;
}

.cabecalho-menu a {
    text-decoration: none;
    color: black;
}

.cabecalho-menu ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 35px;
}

.cabecalho-menu a:hover {
    color: #096c47;
    cursor: pointer;
}

.conteudo {
    background-image: url('img/apresentacao.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 350px;
    padding: 130px;
}

.conteudo-apresentacao h1 {
    width: 700px;
    margin-bottom: 40px;
    font-size: 70px;
}

.conteudo-apresentacao h1:hover {
    color: #096c47;
    cursor: pointer;
}

.conteudo-apresentacao p {
    width: 700px;
    margin-bottom: 20px;
    font-weight: 300;
}

.conteudo-botoes {
    display: flex;
    justify-content: space-between;
    width: 330px;
}

.botao-verde,
.botao-transparente {
    font-family: "Merriweather", serif;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
    height: 40px;
}

.botao-verde {
    background-color: #096c47;
    border: none;
    width: 170px;
}

.botao-transparente {
    background-color: transparent;
    border: 1px solid white;
    width: 120px;
}

.botao-verde:hover,
.botao-transparente:hover {
    background-color: white;
    cursor: pointer;
}

.botao-verde:hover {
    color: #096c47;
}

.botao-transparente:hover {
    color: darkgrey;
}

.rodape {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

footer a {
    text-decoration: none;
    color: white;
}

@media (max-width: 800px) {
    
    .conteudo {
        padding: 75px 30px;
    }

    .conteudo-apresentacao-titulo h1 {
        width: 100%;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .conteudo-apresentacao p {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

 
    .conteudo-botoes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        width: 100%;
    }

}
